pandas
numpy
requests
fastapi
uvicorn
sqlalchemy
pytest
matplotlib
scikit-learn
seaborn
langgraph 
langchain 
langchain-google-genai 
google-generativeai
python-dotenv
langsmith
langchain-openai
semantic-kernel==1.39.0
openai
faiss-cpu